<div class="flex">
  <navbar inner [navs]="[
    { link: '', title: 'Dashboard'},
    { link: 'validation', title: 'Validation' },
    { link: 'settings', title: 'Settlement' },
    { link: 'kyc', title: 'KYC' },
    { link: 'license', title: 'License' },
    { link: 'corporate', title: 'Corporate' },
    { link: 'dns', title: 'DNS' },
    { link: 'forms', title: 'Forms' },
    { link: 'agreements', title: 'Agreements' }
    ]">

  </navbar>
  <button buttonType="link" size="large" icon="cog" class="manageReq">Manage services</button>
</div>