<app-notifications></app-notifications>
<section id="infoBlocks">
  <div class="container-fluid">
      <div class="row mx-1" style="justify-content: space-between;">
        <app-kyc></app-kyc>
        <app-billing></app-billing>
        <app-events></app-events>
      </div>
      <div class="row mx-2" style="justify-content: space-between;">
          <app-domains></app-domains>
          <app-dns></app-dns>
          <app-issued-validations></app-issued-validations>
        </div>
  </div>
</section>
<app-reg-suppliers></app-reg-suppliers>
