<div class="col-lg-4">
    <div class="panel panel-default mt-4" style="height: 275px;">
        <div class="panel-heading flexing bg-fill">
            <h4 class="mb-0">DNS</h4>
            <button size="small" no-icon>Goto KYC</button>
        </div>
        <div class="panel-body mt-2 DNS">
            <paragraph class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi porro
                eaque molestiae accusamus fugiat modi!</paragraph>
            <div class="mt-3 mb-3">
                <div *ngFor="let dn of dns" class="row border-bottom border-top">
                    <paragraph class="col-lg-4 mt-1 mb-1">{{dn['registeredZone']}}</paragraph>
                    <paragraph class="col-lg-2 mt-1 mb-1">{{dn['number']}}</paragraph>
                    <paragraph class="col-lg-6 mt-1 mb-1"></paragraph>
                </div>
            </div>
        </div>
    </div>